$white:           #FFFFFF;
$grey-lightest:   #F2F2F2;
$grey-lighter:    #D8D8D8;
$grey-light:      #A1A1A1;
$grey:            #8C8C8C;
$grey-dark:       #6E6E6E;
$grey-darker:     #313136;
$grey-darkest:    #191A1C;
$black:           #14141F;

$orange-lightest: #FFD2B2;
$orange-lighter:  #FFA666;
$orange-light:    #FF8126;
$orange:          #FF791A;
$orange-dark:     #E66000;
$orange-darker:   #CC5500;

$turq-lightest:   #A2F2FA;
$turq-lighter:    #50D7E5;
$turq-light:      #28B8C7;
$turq:            #099AAA;
$turq-dark:       #00818F;
$turq-darker:     #006A75;

// // brand colours
// $b-red: #ff0000;