---

logo: /austria/logo.svg
logo-link: https://www.austria.info/uk
meta-description: This captivating land packs a weighty punch. From high art to high mountains, verdant valleys to culturally-vibrant cities, Austria is a pick ’n’ mix of wanderlust-inspiring experiences.

layout: offers
id: austria
title: Austria
nav: true
nav-order: 1

intro: >
  <p class="text--xl">This captivating land packs a weighty punch. From high art to high mountains, verdant valleys to culturally-vibrant cities, Austria is a pick ’n’ mix of wanderlust-inspiring experiences. </p>
  <p class="text--xl">Baroque grandeur and operatic pomp set a classy tone in Austria’s cities, with gorgeous alpine landscapes and some of Europe’s finest walking trails nothing but a short train ride away. It’s a romantic way of life, where sweet-toothed travellers are spoilt by an endless assortment of kuchen, and those well-heeled culture-lovers can spend days hopping from palatial galleries to grand orchestral performances. Throw in fairytale castles hidden in beguiling river valleys, soul-stirring glacial landscapes and endless outdoor adventure, and your Austria getaway is starting to shape into one unforgettable escape. </p>

sections:

  - id: culture
    title: Big City Exploits
    image-credit: "© Maria Theresien Strasse / TVB Innsbruck / Christof Lackner"
    content: For city slickers and weekend escapers, don’t miss two of Austria’s most happening spots. Starting in Innsbruck, marvel at a magical backdrop of piercing mountains as you revel in the architectural beauty of the city’s imperial grandeur, found in the Habsburg palace and baroque churches. The picture-book Altstadt, framed by snow-peaked mountains, offers even greater picturesque scenes, complemented by buzzing restaurants and bars. In contrast, post-modern icons like the Hungerburgbahn funicular stations or striking tower of the Bergisel Ski Jump are worth a photo-stop. Need a soundtrack for your trip? Head for the home of music, Salzburg. Mozart’s birthplace is a beautifully historic place, topped by a fairytale castle and gorgeous old town. Discover a burgeoning foodie scene and artsy exploits that will fill your city-slicker weekend with marvellous cultural outings.

  - id: urban
    title: Lesser-known Urban Gems
    image-credit: "© Lentos-Kunstmuseum Linz_Linz Tourismus / Robert Josipovic"
    content: Fancy something a little more “local”? Look no further than Austrian starlets Graz and Linz. Discover the colourful medieval centre of Graz, in the shadow of the jutting, forested hill where Schlossberg clock tower keeps watch. Centuries of history are one thing, but Graz also has a compelling contemporary art scene to explore. Similarly, Linz is a hotbed of artsy cool, though its old town is brimming with tradition and baroque pomp. Best of both worlds, it’s culturally vibrant, with a heritage that makes for an authentic taste of Austria – talking of taste, you’d be a fool to miss trying the famed Linzer Torte when in town.

  - id: outdoor
    title: Outdoor Adventure
    image-credit: "© Wandern am Penkenjoch Zillertaler Alpen / Zillertal Tourismus GmbH / Andre Schoenherr"
    content: Head for autumnal beauty in a selection of gorgeous regions. The variety is wild; piercing peaks await in Ötztal, where 250 mountains stretch higher than 3,000 metres guaranteeing magnificent views at every turn. For typical Austrian beauty head for the valley of Zillertal, where picture-perfect Tirolean scenes await. Wooded mountain glades and glacial rivers are met with foodie delicacies and festivals. In Vorarlberg, untouched woodland wonders beset with wooden cottages and vast peaks paint a charming pastoral picture. If that wasn’t enough, head for quintessential alpine scenes in SalzburgerLand. Jutting peaks and cool lakes offer up picturesque panorama, perfect for outdoor adventures in remarkable mountainous surroundings.

---

{% assign offers = site.data.offers %}
{% assign offers-by-saving = offers | sort: 'saved' | reverse %}

<div class="container">

  <div class="row row--xl-6-6 row--gutters-lg">
    {% for offer in offers-by-saving %}
      {% unless offer.external %}
      <div class="col">
        {% if offer.external %}
          {% include offer/external-offer.html %}
        {% else %}
          {% include offer/offer.html %}
        {% endif %}
      </div>
      {% endunless %}
    {% endfor %}
    <!-- EXTERNAL OFFERS -->
    {% for offer in offers %}
      {% if offer.external %}
      <div class="col">
        {% if offer.external %}
          {% include offer/external-offer.html %}
        {% else %}
          {% include offer/offer.html %}
        {% endif %}
      </div>
      {% endif %}
    {% endfor %}
  </div>

</div>