---

logo: /austria/logo.svg
logo-link: https://www.austria.info/uk
meta-description: This captivating land packs a weighty punch. From high art to high mountains, verdant valleys to culturally-vibrant cities, Austria is a pick ’n’ mix of wanderlust-inspiring experiences.

layout: offers
id: austria
title: Austria
nav: true
nav-order: 1

intro: >
  <p class="text--xl">This captivating land packs a weighty punch. From high art to high mountains, verdant valleys to culturally-vibrant cities, Austria is a pick ’n’ mix of wanderlust-inspiring experiences. </p>
  <p class="text--xl">Baroque grandeur and operatic pomp set a classy tone in Austria’s cities, with gorgeous alpine landscapes and some of Europe’s finest walking trails nothing but a short train ride away. It’s a romantic way of life, where sweet-toothed travellers are spoilt by an endless assortment of kuchen, and those well-heeled culture-lovers can spend days hopping from palatial galleries to grand orchestral performances. Throw in fairytale castles hidden in beguiling river valleys, soul-stirring glacial landscapes and endless outdoor adventure, and your Austria getaway is starting to shape into one unforgettable escape. </p>

sections:

  - id: culture
    title: Sink into the Culture
    image-credit: "© Maria-Theresien-Strasse_TVB-Innsbruck_Christof-Lackner"
    content: Austrians live an enviable lifestyle – but it’s one that you can easily sink into. Decades of politicking, high-brow chit-chat and gossiping has been at home in Austria’s iconic coffee-house culture, where you can indulge in all manner of delicious sweet treats (with a classic Viennese coffee of course) before revelling in the grand interiors that coffee-house-stalwarts are graced with. Spoil yourself with endless art galleries and theatrical happenings across cities like Linz and Graz, or head to the birthplace of music in Salzburg, the home of Mozart. To truly live like an Austrian, do as the locals do – escape the cities for an Alpine hike, a riverside stroll, and taste local delicacies in homely guesthouses – all but a stone’s throw from Austria’s culturally-rich cities.

  - id: urban
    title: Urban Exploits
    image-credit: "© Lentos-Kunstmuseum-Linz_Linz-Tourismus_Robert-Josipovic"
    content: From Linz to Innsbruck, Austria’s cities are buzzing with cultural happenings. Discover the colourful medieval centre of Graz, in the shadow of the jutting, forested hill where Schlossberg Castle keeps watch. Centuries of history are one thing, but Graz also has a compelling contemporary art scene to explore. Similarly, Linz is a hotbed of artsy cool, though its old town is brimming with tradition – don’t miss the chance to try the famed Linzer Torte when in town. Marvel at Innsbruck’s mountainous backdrop, as you explore everything from Imperial grandeur in Hapsburg palaces and the picture-book Alstadt, to post-modern icons like the Hungerburgbahn funicular stations or striking tower of the Bergisel Ski Jump.

  - id: outdoor
    title: Outdoor Adventure
    image-credit:
    content: Head for autumnal beauty in a selection of gorgeous regions. The variety is wild – verdant mountain valleys await in Bergenzerwald, an untouched woodland paradise where wooden cottages and vast peaks paint a charming pastoral picture. Even more striking is the vertiginous landscape of Tiroler Zugspitz Arena, where Germany’s highest mountain pierces the border. The lifestyle here is irresistibly laid-back, but if you’re looking for action don’t miss Saaldelden Leogang where mountain hikes and adrenaline-fuelled adventure abounds. All that hiking making you hungry? Don’t miss Zillertal’s foodie festivals and delicacies, nor Hochkönig’s certified vegan credentials!

---

{% assign offers = site.data.offers %}
{% assign offers-by-saving = offers | sort: 'saved' | reverse %}
{% assign offers-by-price = offers | sort: 'price' %}

<div class="container">
  <div class="row row--xl-6-6 row--gutters-lg">
    {% for offer in offers-by-price %}
      <div class="col">
        {% if offer.external %}
          {% include offer/external-offer.html %}
        {% else %}
          {% include offer/offer.html %}
        {% endif %}
      </div>
    {% endfor %}
  </div>
</div>