---

logo: /salzburg-city/logo.svg
meta-description:

layout: offers
id: salzburg-city
title: Salzburg City
nav: true
nav-order: 2

intro: >
  <p class="text--xxl">Looking for your authentic Austrian experience? Head to Salzburg. </p>
  <p class="text--lg">It doesn’t really get prettier than Salzburg. A storybook old town with a fairytale castle perched high above it, there are captivating scenes at every turn. Moreso, when you think back to those heady Baroque days when Mozart stomped the streets around here; in fact, not much has changed since then, and the orchestral tradition still fills the town with music. It spills from open windowed rehearsals and fancy concert halls. So idyllic is the place that it formed the perfect backdrop for The Sound of Music; but beyond the nostalgia, there’s a diverse arts scene, fed by hearty local eats and buzzing cafe-bar culture. It has the beauty, the rolling green hills, riverside walks and pastel old town, and it has the captivating culture that offers any visitor a truly unforgettable, undeniably Austrian, getaway.</p>


sections:

  - id: music
    title: Music and Art
    image-credit:
    content: As the birthplace of Mozart, Salzburg is steeped in masterful classical performance. See his house at the Mozart museum, or better yet catch one of many performances across the city (like the Best of Mozart Fortress Concert). But it’s not all orchestral pomp; there’s a surprising collection of jazz bars where scenesters improv into the night. Galleries are also a traditional mainstay of Salzburg’s regal charms, though their contents are thoroughly with the times. The Rudolf Budja Gallery (pop-art galore in surprising surroundings) and the classical Galerie Thaddaeus Ropac both feature incredible contemporary collections, with smaller spots like Fotohof and the Walk of Modern Art building – across less traditional mediums – on a foundation of artistic culture.

  - id: food
    title: Foodie Destination
    image-credit: "© Stieglkeller_TSG-Tourismus-Salzburg-GmbH_Guenter-Breitegger"
    content: Time to loosen the belt a notch. Salzburg is a hotbed of authentic regional cooking, offering hearty dishes including Schnitzel, Sacher Torte and more Austrian classics. Start in a coffee house for a traditional breakfast of cold cuts and pastries, before heading to farmer's markets like  Grünmarkt for delicacies from the local area. In the evenings, hole yourself up in a Bierkeller for classic fare and don’t miss the chance to visit the Stiegl Brewery for frothy pilsners.

  - id: history
    title: History
    image-credit: "© Panorama_TSG-Tourismus-Salzburg-GmbH_Guenter-Breitegger"
    content: Salzburg is steeped in history. Its skyline is filled with spires, a city of churches that has earned the moniker Rome of the North. The Baroque stylings extend from the rich church interiors to the architecture of the old town, where technicolour townhouses line grand squares and palaces are treated to lavish gardens – it’s a thoroughly opulent scene. The rather-literal crown of the city is the 11th-century Festung Hohensalzburg. Climb the steep and lengthy stairs (or opt for the funicular) and be rewarded by an incredible panorama that extends across the town to the surrounding mountains.

---

{% assign offers = site.data.offers | where: "page", page.id %}
{% assign offers-by-saving = offers | sort: 'saved' | reverse %}
{% assign offers-by-price = offers | sort: 'price' %}

<div class="container">
  <div class="row row--xl-6-6 row--gutters-lg">
    {% for offer in offers-by-price %}
      <div class="col">
        {% include offer/offer.html %}
      </div>
    {% endfor %}
  </div>
</div>